source https://api.nuget.org/v3/index.json

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Expecto.Hopac

nuget FSharp.Core >= 4.5.4

nuget Logary.Adapters.Facade prerelease

