/* Sakura.css v1.0.0
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura
 */

:root {
    --base-background-color: #f9f9f9;
    --base-color: #4a4a4a;
    --highlight: #2c8898;
    --highlight-background-color: #982c61;
    --soft-background-color: #f1f1f1;
}

/* Body */
html {
    font-size: 62.5%;
    font-family: serif;
}

body {
    font-size: 1.8rem;
    line-height: 1.618;
    max-width: 38em;
    margin: auto;
    color: var(--base-color);
    background-color: var(--base-background-color);
    padding: 13px;
}

@media (max-width: 684px) {
    body {
        font-size: 1.53rem;
    }
}

@media (max-width: 382px) {
    body {
        font-size: 1.35rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 700;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

h1 {
    font-size: 2.35em;
}

h2 {
    font-size: 2.00em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

small, sub, sup {
    font-size: 75%;
}

hr {
    border-color: var(--highlight);
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--highlight);
}

a:hover {
    color: var(--highlight-background-color);
    border-bottom: 2px solid var(--base-color);
    cursor: pointer;
}

ul {
    padding-left: 1.4em;
}

li {
    margin-bottom: 0.4em;
}

blockquote {
    font-style: italic;
    margin-left: 1.5em;
    padding-left: 1em;
    border-left: 3px solid var(--highlight);
}

img {
    max-width: 100%;
}

/* Pre and Code */
pre {
    background-color: var(--soft-background-color);
    display: block;
    padding: 1em;
    overflow-x: auto;
}

code {
    font-size: 0.9em;
    padding: 0 0.5em;
    background-color: var(--soft-background-color);
    white-space: pre-wrap;
}

pre > code {
    padding: 0;
    background-color: transparent;
    white-space: pre;
}

/* Tables */
table {
    text-align: justify;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 0.5em;
    border-bottom: 1px solid var(--soft-background-color);
}

/* Buttons, forms and input */
input, textarea {
    border: 1px solid var(--base-color);
}

input:focus, textarea:focus {
    border: 1px solid var(--highlight);
}

textarea {
    width: 100%;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: var(--highlight);
    color: var(--base-background-color);
    border-radius: 1px;
    border: 1px solid var(--highlight);
    cursor: pointer;
    box-sizing: border-box;
}

.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
    cursor: default;
    opacity: .5;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="button"]:focus,
input[type="button"]:hover {
    background-color: var(--highlight-background-color);
    border-color: var(--highlight-background-color);
    color: var(--base-background-color);
    outline: 0;
}

textarea, select, input[type] {
    color: var(--base-color);
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    margin-bottom: 10px;
    background-color: var(--soft-background-color);
    border: 1px solid var(--soft-background-color);
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

textarea:focus, select:focus, input[type]:focus {
    border: 1px solid var(--highlight);
    outline: 0;
}

input[type="checkbox"]:focus {
    outline: 1px dotted var(--highlight);
}

label, legend, fieldset, header {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

/**********************************/
/**       BareCSS                **/
/**********************************/

/* Buttons */
.btn, button, input[type=submit] {
    cursor: pointer;
    color: #679;
    display: inline-block;
    padding: 1.4rem 2rem;
    background: #fff;
    border: 1px solid #679;
    border-radius: 2px;
    box-shadow: 0 0 0 transparent;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1rem;
    margin: 0 1rem 1rem 0;
    -webkit-appearance: none
}

.btn:before, button:before, input[type=submit]:before {
    content: "";
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transform: scale3d(1.2,1.2,1.2);
    transform: scale3d(1.2,1.2,1.2);
    background: #679
}

.btn:not(:disabled):hover, button:not(:disabled):hover, input[type=submit]:not(:disabled):hover {
    box-shadow: 2px 2px 4px rgba(0,0,0,.3);
    background: #f4f5f6
}

.btn:not(:disabled):hover:active, button:not(:disabled):hover:active, input[type=submit]:not(:disabled):hover:active {
    box-shadow: none;
    -webkit-transition: none;
    transition: none
}

.btn.primary, button.primary, input[type=submit].primary {
    border-color: #5a6987;
    background: #679;
    color: #fff;
    font-weight: 700
}

.btn.primary:not(:disabled):hover, button.primary:not(:disabled):hover, input[type=submit].primary:not(:disabled):hover {
    background: #5a6987
}

.btn.round, button.round, input[type=submit].round {
    border-radius: 4rem
}

@media (max-width:50rem) {
    .btn.m-full, button.m-full, input[type=submit].m-full {
        width: 100%
    }
}

.btn.disabled, .btn:disabled, button.disabled, button:disabled, input[type=submit].disabled, input[type=submit]:disabled {
    border-color: #e3e6e8;
    background: #e3e6e8;
    color: #abb5ba;
    cursor: default
}

/* Forms */

label {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1rem
}

label:first-child {
    margin-top: 0
}

input:not([type=radio]):not([type=checkbox]):not([type=button]):not([type=submit]) {
    display: inline-block;
    background: 0 0;
    width: 100%;
    padding: .5rem 0 1rem;
    margin-bottom: 2rem;
    border: none;
    border-bottom: 1px solid #e3e6e8;
    font-size: 1.4rem;
    font-weight: 300;
    border-radius: 0
}

input:not([type=radio]):not([type=checkbox]):not([type=button]):not([type=submit]):focus,
input:not([type=radio]):not([type=checkbox]):not([type=button]):not([type=submit]):hover {
    color: #679;
    border-color: #679;
    outline: 0
}

textarea {
    display: inline-block;
    background: 0 0;
    width: 100%;
    padding: .5rem 0 1rem;
    margin-bottom: 2rem;
    border: none;
    border-bottom: 1px solid #e3e6e8;
    font-size: 1.4rem;
    font-weight: 300;
    border-radius: 0;
    min-height: 8rem;
    border-right: 1px solid #e3e6e8;
    padding-right: 2rem;
    border-bottom-right-radius: .5rem
}

textarea:focus, textarea:hover {
    color: #679;
    border-color: #679;
    outline: 0
}

select {
    padding: .5rem 3rem .5rem 1rem;
    display: block;
    width: 100%;
    border: 1px solid #e3e6e8;
    background: #fff url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2248%22%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048%22%3E%3Cpath%20d%3D%22M14.83%2016.42L24%2025.59l9.17-9.17L36%2019.25l-12%2012-12-12z%22%2F%3E%3C%2Fsvg%3E) no-repeat right 1rem center;
    background-size: 2rem;
    border-radius: 2px;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 300;
    text-indent: .5rem;
    margin: .5rem 0 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer
}

select:focus, select:hover {
    border-color: #679;
    outline: 0
}

input[type=checkbox], input[type=radio] {
    z-index: 2;
    opacity: 0;
    margin-right: -2rem;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    cursor: pointer
}

input[type=checkbox] + label, input[type=radio] + label {
    width: auto;
    text-transform: none
}

input[type=checkbox] + label:before, input[type=radio] + label:before {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 1px solid #abb5ba;
    background: #fff;
    vertical-align: middle;
    margin-right: 1rem
}

input[type=checkbox] + label:after, input[type=radio] + label:after {
    content: "";
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 1.6rem;
    height: 1.6rem;
    left: 2px;
    top: 4px;
    -webkit-transform: scale(0);
    transform: scale(0)
}

input[type=radio] + label {
    font-size: 1.4rem;
    font-weight: 200
}

input[type=radio] + label:before {
    border-radius: 100%
}

input[type=radio]:checked + label:before {
    background: #679;
    border-color: #679
}

input[type=radio]:checked + label:after {
    opacity: 1;
    visibility: visible;
    background: #679;
    border: 1px solid #fff;
    border-radius: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    top: .5rem
}

input[type=checkbox] + label {
    font-size: 1.4rem;
    font-weight: 200
}

input[type=checkbox] + label:before {
    border-radius: 2px
}

input[type=checkbox] + label:after {
    background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M9%2016.2L4.8%2012l-1.4%201.4L9%2019%2021%207l-1.4-1.4L9%2016.2z%22%2F%3E%3C%2Fsvg%3E) no-repeat center center;
    border-radius: 100%;
    background-size: 100%
}

input[type=checkbox]:checked + label:before {
    background: #679;
    border-color: #679
}

input[type=checkbox]:checked + label:after {
    opacity: 1;
    visibility: visible;
    left: 2px;
    top: .5rem;
    -webkit-transform: scale(1);
    transform: scale(1)
}

/**********************************/
/**     END BareCSS              **/
/**********************************/

.grid {
    display: flex;
}

.grid > * {
    flex: 1;
}

.column {
    flex-direction: column;
}

.fluid {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
}

.margin {
    margin: 20px;
}

.block {
    display: block;
}

form {
    width: 100%;
    display: flex;
}

form * label {
    width: 100%;
    flex: 1;
}

