source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget FSharp.Data
nuget Saturn >= 0.8.0
nuget Microsoft.AspNetCore.Authentication.OpenIdConnect
nuget FSharp.Data.SqlClient
nuget System.Runtime.Caching

clitool dotnet-saturn

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
